ENVIRONMENT=development
LOG_LEVEL=INFO
DATABASE_URL=postgresql+psycopg2://rag_user:rag_password@localhost:5432/rag_platform
REDIS_URL=redis://localhost:6379
JWT_SECRET=your-secret-key
STORAGE_PATH=storage
OPENAI_API_KEY=your-openapi-key
COHERE_API_KEY=your-cohereapi-key

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password

STORAGE_PROVIDER=s3
S3_BUCKET_NAME=<your B2 bucket name>
S3_ENDPOINT_URL=https://s3.<region>.backblazeb2.com
S3_ACCESS_KEY=<your keyID>
S3_SECRET_KEY=<your applicationKey>

CONTACT_EMAIL=your-private-email@gmail.com